---
import Layout from '@/layouts/Layout.astro';
import MatchupsList from '@/components/Matchup/MatchupsList.astro';
import { getCodePrefixFromDate } from '@/lib/data_common';
import { PaginateControls } from '@/components/Matchup/PaginateControls';
import moment from 'moment';

const page = Astro.url.searchParams.get('page');
const { pb } = Astro.locals;
const isAuthed = pb.authStore.isValid;
if (!isAuthed) {
  throw new Error('Please login to view matchups');
}

const allMatchups = await pb
  .collection('matchups')
  .getFullList({ fields: 'id,code', sort: 'time_utc,code' });

const matchupsByCodePrefix = {};
for (const m of allMatchups) {
  const codePrefix = m.code.split('/')[0];
  if (!matchupsByCodePrefix[codePrefix]) {
    matchupsByCodePrefix[codePrefix] = [];
  }
  matchupsByCodePrefix[codePrefix].push(m.id);
}

// ascending order
const sortedKeys = Object.keys(matchupsByCodePrefix).sort();

const givenKey = page || getCodePrefixFromDate(new Date());
let currentKey = sortedKeys.find((key) => key === givenKey);
if (!currentKey) {
  // find the closest key after the given key
  currentKey = sortedKeys.find((key) => key > givenKey);
}
const prevKey = sortedKeys.filter((key) => key < currentKey).pop();
const nextKey = sortedKeys.filter((key) => key > currentKey).shift();

const ids = matchupsByCodePrefix[currentKey];

const matchups = await pb.collection('matchups').getFullList({
  filter: ids.map((id) => `id="${id}"`).join('||'),
  sort: 'time_utc',
});

const currentText = moment(currentKey).format('ddd, M/D');
const base_url = Astro.url.pathname;
---

<Layout title='Matchups'>
  <h1 class='text-4xl py-6 font-bold'>Matchups</h1>
  <div class='flex flex-col items-start gap-4'>
    <MatchupsList matchups={matchups} />
    <div class='w-full max-w-md'>
      <PaginateControls
        page={{ title: currentText, href: '#' }}
        prevPage={{ title: 'Prev Page', href: `${base_url}?page=${prevKey}` }}
        nextPage={{ title: 'Next Page', href: `${base_url}?page=${nextKey}` }}
      />
    </div>
  </div>
</Layout>
