---
import Matchup from '@/components/Matchup/Matchup.astro';
import { PaginateControls } from './PaginateControls';
import type { MatchupType } from '@/lib/definitions';

interface Props {
  matchups: MatchupType[];
  page?: number;
  totalPages?: number;
}

const { matchups, page, totalPages } = Astro.props;
---

<h1 class='text-4xl font-bold'>Matchups</h1>
<div class='flex flex-col items-start'>
  {
    page && totalPages && (
      <div class='flex flex-row justify-between gap-2 w-full max-w-md py-4'>
        <PaginateControls page={page} totalPages={totalPages} />
      </div>
    )
  }
  <div class='flex flex-col gap-2 w-full max-w-md'>
    {
      matchups.map((matchup) => (
        <a href={`/matchups/${matchup.id}`}>
          <Matchup matchup={matchup} />
        </a>
      ))
    }
  </div>
  {
    page && totalPages && (
      <div class='flex flex-row justify-between gap-2 w-full max-w-md py-4'>
        <PaginateControls page={page} totalPages={totalPages} />
      </div>
    )
  }
</div>
